.title {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: $titleBlack;
  font-size: 60px;

  &::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 50%;
    left: 48%;
    width: 60%;
    margin-top: calc(0.125em / 2 * -1);
    content: "";
    border-bottom: 16px solid $green;
  }
}

.title-left {
  &::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 48%;
    left: auto;
    width: 60%;
    margin-top: calc(0.125em / 2 * -1);
    content: "";
    border-bottom: 16px solid $green;
  }
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background: #fff;
}

.menu--wrapper {
  display: flex;
  max-width: 1200px;
  height: 130px;
  margin: 0 auto;
  padding: 0 15px;
  transition: all 0.4s ease;
  justify-content: space-between;

  &.shrink {
    height: 100px;
    transition: all 0.4s ease;
  }
}

.menu--trapeze {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 36.5625%;
  height: 0;
  border-top: 130px solid $grey;
  border-right: 100px solid transparent;
  border-left: 0 solid transparent;

  &.shrink {
    border-top: 100px solid $grey;
  }
}

.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__row {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .menu__list {
    position: relative;
    display: flex;
    margin-right: 50px;
    align-items: center;

    &::after {
      position: absolute;
      bottom: -3px;
      left: -23px;
      display: block;
      width: 2px;
      height: 20px;
      content: '';
      transform: skewX( -35deg );
      background-color: #cdcfd1;
    }

    &:first-child::after {
      content: none;
    }

    &:last-child {
      margin-right: 0;
    }

    .menu__link {
      z-index: 2;
      text-decoration: none;
      opacity: 0.7;
      color: #000;
      font-size: 12px;
    }
  }

  .menu__list-active {
    position: relative;

    &::before {
      position: absolute;
      bottom: -3px;
      left: -18px;
      display: block;
      width: 28px;
      height: 20px;
      content: '';
      transform: skewX( -35deg );
      background-color: $green;
    }

    .menu__link {
      font-weight: 900;
    }
  }
}

.main-header {
  padding-top: 130px;

  .main-header__slider {
    position: relative;

    .slick-prev {
      position: absolute;
      right: 250px;
      bottom: -57px;
      left: 0;
      width: 18px;
      height: 14px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      cursor: pointer;
      text-indent: -9999px;
      border: 0;
      outline: 0;
      background: url('../../img/slick-arrow.png');
      background-repeat: no-repeat;
    }

    .slick-next {
      position: absolute;
      right: 0;
      bottom: -57px;
      left: 240px;
      width: 18px;
      height: 14px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      cursor: pointer;
      transform: rotate(180deg);
      text-indent: 99999px;
      border: 0;
      outline: 0;
      background: url('../../img/slick-arrow.png');
      background-repeat: no-repeat;
    }

    .slick-dots {
      position: absolute;
      right: 0;
      bottom: -54px;
      left: 45px;
      display: flex;
      width: 50px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      justify-content: center;

      li {
        display: flex;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        &:last-child {
          margin-right: 0;
        }
      }

      .slick-active {
        background: #fff;
      }

      button {
        width: 8px;
        height: 8px;
        cursor: pointer;
        text-indent: -9999px;
        border: 0;
        outline: 0;
        background: none;
      }
    }

    .main-header__slider-slide {
      width: 100%;
      height: 100%;
      max-height: 520px;

      img {
        width: 100%;
        min-height: 250px;
        max-height: 520px;
        object-fit: cover;
      }
    }
  }

  .main-header__slider-nav {
    display: flex;
    height: 100px;
    background: $titleBlack;
    align-items: center;

    .slider-nav_wrapper {
      max-width: 660px;
      margin: 0 auto;
    }

    .buttons {
      z-index: 10;
      display: flex;
      margin-right: 150px;
      align-items: center;

      .play {
        width: 0;
        height: 0;
        margin-right: 15px;
        padding: 0;
        cursor: pointer;
        text-indent: -99999px;
        border: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 5px solid #fff;
        outline: 0;
        background: none;
      }

      .pause {
        width: 6px;
        height: 8px;
        padding: 0;
        cursor: pointer;
        text-indent: -99999px;
        border: 0;
        border-right: 2px solid #fff;
        border-left: 2px solid #fff;
        outline: 0;
        background: none;
      }
    }
  }
}

.main-content {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;

  .arrow,
  .cross {
    position: absolute;
  }

  .arrow {
    top: 200px;
    width: 7%;
  }

  .cross {
    top: 300px;
    right: 0;
    width: 9%;
  }

  .main-content--wrapper {
    max-width: 735px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .main-content__title {
    margin-bottom: 205px;
  }

  .main-content__description-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:after {
      position: absolute;
      z-index: -1;
      top: -130px;
      left: -110px;
      display: block;
      width: 450px;
      height: 350px;
      content: '';
      border: 16px solid $grey;
    }

    .main-content--circle {
      display: flex;
      margin-top: -20px;
      justify-content: center;
      align-items: center;

      svg {
        width: 110px;
        height: 128px;
      }

      .lines {
        position: absolute;
        right: 140px;
      }
    }
  }

  .main-content__description {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
    opacity: 0.7;
    color: $titleBlack;
    font-family: $ubuntu;
    font-size: 16px;

    span {
      font-weight: 700;
    }
  }
}

.team {
  padding-top: 150px;
  padding-bottom: 150px;
  background: $grey;
  background-image: url('../../img/team-background.png');
  background-repeat: no-repeat;
  background-position: bottom left;

  .team--wrapper {
    max-width: 710px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .team__title {
    margin-bottom: 60px;
  }

  .team__description {
    margin: 0 0 65px;
    text-align: center;
    opacity: 0.7;
    color: $titleBlack;
    font-family: $ubuntu;
    font-size: 16px;
    font-style: italic;
  }

  .team__member {
    display: flex;
    align-items: flex-start;

    .team__member-number {
      position: relative;
      padding: 80px 15px 0 0;

      h2 {
        margin: 0;
        color: $darkBlue;
        font-size: 60px;
      }

      &::after {
        position: absolute;
        right: -6px;
        bottom: 27px;
        display: block;
        width: 6px;
        height: 6px;
        content: "";
        border: 2px solid #c9cacd;
        border-radius: 50%;
        background: #fff;
      }
    }

    &:nth-child(odd) {
      h2 {
        color: $green;
      }

      .team__member-description {
        .team_member-description--bar {
          background: $green;
        }
      }
    }

    .team__member-description {
      padding: 100px 0 100px 85px;
      border-left: 2px solid #c9cacd;

      .team__member-description__name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin: 0;
          font-size: 24px;
        }
      }

      .team_member-description--bar {
        width: 20%;
        height: 16px;
        background: $darkBlue;
      }

      .team__member-description__content {
        p {
          opacity: 0.7;
          color: $titleBlack;
          font-family: $ubuntu;
          font-size: 16px;

          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.projects {
  padding-top: 150px;

  .projects--wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .projects-slider {
    position: relative;
    margin-top: 100px;

    .projects-slider_item--image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 1030px;
      }

      .projects-slider_item--title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35%;
        height: 100px;
        padding: 30px;
        background: $titleBlack;

        h2 {
          position: absolute;
          z-index: 10;
          top: 50%;
          bottom: 0;
          display: flex;
          width: 1000px;
          margin: 0;
          transform: translateY(-50%);
          text-transform: uppercase;
          color: #fff;
          font-size: 36px;
          font-weight: 900;
          align-items: center;
        }

        &::after {
          position: absolute;
          right: -70px;
          bottom: 0;
          width: 0;
          height: 0;
          content: '';
          border-right: 70px solid transparent;
          border-bottom: 100px solid $titleBlack;
        }
      }
    }

    .projects-slider--navbar {
      display: flex;
      height: 100px;
      align-items: center;

      .projects-slider_item--descritpion {
        position: relative;
        display: flex;
        width: 49%;
        height: 100%;
        background: $grey;
        align-items: center;

        p {
          margin: 0;
          padding-left: 30px;
          opacity: 0.7;
          color: $titleBlack;
          font-family: $ubuntu;
          font-size: 16px;
          font-style: italic;

          span {
            font-family: $ubuntu;
            font-weight: 700;
          }
        }

        &::after {
          position: absolute;
          z-index: 10;
          right: -70px;
          bottom: 0;
          display: block;
          height: 0;
          content: '';
          border-right: 70px solid transparent;
          border-bottom: 100px solid $grey;
          border-left: 0 solid transparent;
        }
      }

      .projects-slider_item__button {
        position: relative;
        display: flex;
        height: 100px;
        padding: 0 20px 0 90px;
        background: $green;
        justify-content: center;
        align-items: center;

        .projects-slider_item--more {
          text-decoration: none;
          opacity: 0.9;
          color: #fff;
          font-size: 16px;
        }

        &::after {
          position: absolute;
          right: -70px;
          bottom: 0;
          display: block;
          height: 0;
          content: '';
          border-right: 70px solid transparent;
          border-bottom: 100px solid $green;
          border-left: 0 solid transparent;
        }
      }
    }

    .slick-dots {
      position: absolute;
      right: 100px;
      bottom: 50px;
      display: flex;
      width: 50px;
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: center;

      li {
        display: flex;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        border: 2px solid $titleBlack;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        &:last-child {
          margin-right: 0;
        }
      }

      .slick-active {
        background: $titleBlack;
      }

      button {
        width: 8px;
        height: 8px;
        cursor: pointer;
        text-indent: -9999px;
        border: 0;
        outline: 0;
        background: none;
      }
    }

    .PrevArrow {
      position: absolute;
      z-index: 2;
      top: 20%;
      left: -20px;
      display: inline-block;
      padding: 8px;
      cursor: pointer;
      transform: rotate(135deg);
      border: solid $titleBlack;
      border-width: 0 2px 2px 0;
      outline: 0;
      background: none;
    }

    .NextArrow {
      position: absolute;
      z-index: 2;
      top: 20%;
      right: -20px;
      display: inline-block;
      padding: 8px;
      cursor: pointer;
      transform: rotate(-45deg);
      border: solid $titleBlack;
      border-width: 0 2px 2px 0;
      outline: 0;
      background: none;
    }
  }
}

.cooperation {
  padding: 150px 0;

  .cooperation--wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .cooperation__subtitle {
    margin: 50px 0 100px;
    text-align: center;
    opacity: 0.7;
    color: $titleBlack;
    font-family: $ubuntu;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;

    span {
      font-family: $ubuntu;
      font-weight: 700;
      font-style: italic;
    }
  }

  .cooperation__partner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 95px;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      flex-direction: row;

      .cooperation__partner--description {
        position: absolute;
        right: 29px;
        bottom: 25px;
        left: auto;
        width: 50%;
        padding: 80px 0;
        border: 16px solid #00009c;

        &:before {
          position: absolute;
          top: auto;
          bottom: 0;
          left: -16px;
          width: 0;
          height: 100%;
          content: '';
          border: 8px solid #fff;
        }

        &:after {
          position: absolute;
          top: -16px;
          left: 0;
          width: 50%;
          content: '';
          border-top: 16px solid #fff;
        }
      }

      .cooperation__partner--logo {
        &::before {
          position: absolute;
          z-index: 5;
          top: auto;
          right: -16px;
          bottom: 9px;
          left: auto;
          width: 16px;
          content: '';
          border-top: 16px solid #00009c;
        }
      }
    }

    .cooperation__partner--description {
      position: absolute;
      top: 25px;
      right: auto;
      left: 29px;
      width: 50%;
      padding: 80px 0;
      border: 16px solid #ffcc00;

      &:before {
        position: absolute;
        top: 0;
        right: -16px;
        width: 0;
        height: 100%;
        content: '';
        border: 8px solid #fff;
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: -16px;
        width: 50%;
        content: '';
        border-top: 16px solid #fff;
      }

      .partner-title {
        text-align: center;
        opacity: 0.7;
        color: $titleBlack;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
      }

      .subtitle {
        text-align: center;
        opacity: 0.7;
        color: $titleBlack;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
      }
    }

    .cooperation__partner--logo {
      position: relative;
      z-index: 3;
      width: 50%;
      padding: 90px 0;
      text-align: center;
      border: 16px solid #fbfbfb;

      &::before {
        position: absolute;
        z-index: 5;
        top: 9px;
        left: -16px;
        width: 16px;
        content: '';
        border-top: 16px solid #ffcc00;
      }
    }
  }
}

.contact {
  padding: 150px 0;
  background: $titleBlack;

  .contact--wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .contact__title {
    color: $grey;
  }

  .contact__offices {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;

    .contact_offices--office {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .country {
        color: #ffffff;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 700;
      }

      .adress {
        max-width: 135px;
        text-align: center;
        opacity: 0.5;
        color: #ffffff;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.site-footer {
  height: 130px;
  background: $grey;

  .site-footer--wrapper {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
  }

  .site-footer__logo {
    padding-right: 40px;
  }

  .site-footer__company-info {
    padding: 0;

    .site-footer__company-info--box {
      display: flex;
      align-items: center;

      h4 {
        margin: 0 10px 0 0;
        opacity: 0.5;
        color: $titleBlack;
        font-family: $ubuntu;
        font-size: 12px;
      }

      h5 {
        margin: 0;
        opacity: 0.7;
        color: $titleBlack;
        font-family: $ubuntu;
        font-size: 12px;
      }
    }
  }

  .site-footer__copyrights {
    margin-left: auto;

    h3 {
      margin: 0;
      opacity: 0.7;
      color: $titleBlack;
      font-family: $ubuntu;
      font-size: 12px;
    }
  }
}

#nav-icon {
  display: none;
}

// Case Studies
.casestudy-header{
    height: calc(100vh - 130px);
    max-height: 710px;
  }
  .casestudy-header__background{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0,0,0,0.7);
    }
    .casestudy-header__content{
      z-index: 1;
      text-align: center;
      h1{
        color: #fff;
        max-width: none;
        &::after{
          content: none;
        }
      }
      .details{
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 80px auto;
        h3{
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
          margin: 0;
          span{
            font-weight: 400;
            opacity: 0.5;
          }
        }
      }
      .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 55px;
        background: $green;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        margin: 0 auto;
        text-decoration: none;
        border-radius: 4px;
      }
      .look-more{
        max-width: 230px;
      }
    }
  }
  .look-more--arrow{
    margin-top: 40px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: relative;
    &::after{
      content: '';
      margin-top: 40px;
      border: solid #fff;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      position: absolute;
      left: 4px;
      top: -36px;
    }
  }

  .steps--wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .step{
    text-align: center;
    padding-top: 150px;
    &:last-child{
      padding-bottom: 150px;
    }
    .step__title{
      display: flex;
      justify-content: center;
      align-items: center;
      h2{
        font-size: 48px;
        font-weight: 900;
        color: #e8e8e8;
        margin: 0;
      }
      .number{
        font-size: 72px;
        font-weight: 900;
        color: $green;
        margin: 0;
        margin-left: 10px;
      }
    }
    .step__description{
      max-width: 830px;
      margin: 0 auto;
      font-family: $ubuntu;
      font-size: 16px;
      color: $titleBlack;
      opacity: 0.7;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .step__image{
      img{
        width: 100%;
      }
    }
    .look-more--arrow{
      border: solid $green;
      border-width: 0 1px 1px 0;
      &::after{
        border: solid $green;
        border-width: 0 1px 1px 0;
      }
    }
    &:nth-child(even){
      .step__title{
        .number{
          color: $darkBlue;
        }
      }
      .look-more--arrow{
        border: solid $darkBlue;
        border-width: 0 1px 1px 0;
        &::after{
          border: solid $darkBlue;
          border-width: 0 1px 1px 0;
        }
      }
    }
  }






@media screen and (max-width: 991px) {
  .menu--wrapper {
    height: 100px;
  }

  .menu--trapeze {
    border-top: 100px solid $grey;
  }

  .menu__row {
    position: absolute;
    top: -450px;
    right: 0;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.04s;
    background: #fff;

    .menu__list {
      margin-right: 0;
      margin-bottom: 20px;

      &::after {
        content: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .menu__row.open-nav {
    top: 99px;
  }

  #nav-icon {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 30px;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #nav-icon span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 9px;
    background: $titleBlack;
  }

  #nav-icon span:nth-child(1) {
    top: 0;
  }

  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 9px;
  }

  #nav-icon span:nth-child(4) {
    top: 18px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 18px;
    left: 50%;
    width: 0;
  }

  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(4) {
    top: 18px;
    left: 50%;
    width: 0;
  }

  .main-header {
    padding-top: 100px;
  }

  .main-content {
    padding-top: 80px;

    .main-content__title {
      margin-bottom: 100px;
    }
  }

  .team {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .projects {
    padding-top: 80px;

    .projects-slider {
      .slick-dots {
        right: 30px;
      }

      .projects-slider_item--image {
        flex-direction: column;

        img {
          min-height: 150px;
          object-fit: cover;
        }

        .projects-slider_item--title {
          position: static;
          width: 100%;
          height: 60px;

          &::after {
            border-bottom: 60px solid $titleBlack;
          }

          h2 {
            position: static;
            width: auto;
            font-size: 20px;
          }
        }
      }
    }

    .cooperation {
      padding: 80px 0;
    }

    .contact {
      padding: 80px 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 45px;

    &::after {
      content: none;
    }
  }

  .main-content {
    padding-bottom: 80px;

    .arrow,
    .cross {
      display: none;
    }

    .main-content__description-box {
      &::after {
        content: none;
      }

      .main-content--circle {
        display: none;
      }
    }
  }

  .team {
    .team__member {
      .team__member-number {
        h2 {
          font-size: 45px;
        }
      }

      .team__member-description {
        padding: 50px 0 50px 45px;
      }
    }
  }

  .contact {
    .contact__offices {
      margin-top: 80px;
    }
  }

  .site-footer {
    height: auto;

    .site-footer--wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-wrap: wrap;
    }

    .site-footer__copyrights {
      width: 100%;
      margin: 0;
    }
  }

  .cooperation {
    .cooperation__partner,
    .cooperation__partner:nth-child(odd) {
      flex-direction: column;

      .cooperation__partner--logo {
        width: 80%;
        padding: 45px 0;

        img {
          width: 50%;
        }
      }

      .cooperation__partner--description {
        position: static;
        width: 80%;
        padding: 40px 10px;
        border-top: 0;

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  .cooperation .cooperation__partner .cooperation__partner--logo::before {
    content: none;
  }

  .cooperation .cooperation__partner:nth-child(odd) .cooperation__partner--logo::before {
    content: none;
  }

  .projects .projects-slider .slick-dots {
    bottom: 25px;
  }

  .projects .projects-slider .projects-slider--navbar {
    flex-direction: column;
    height: auto;
    align-items: flex-start;

    .projects-slider_item--descritpion {
      width: 100%;
      padding: 20px;

      p {
        padding: 0;
      }

      &::after {
        content: none;
      }
    }

    .projects-slider_item__button {
      height: 60px;
      padding: 20px;

      &::after {
        content: none;
      }
    }
  }
  .casestudy-header__background .casestudy-header__content{
    .details{
      flex-direction: column;
      margin: 50px auto;
      h3{
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .team {
    .team__member {
      .team__member-description {
        padding: 50px 0 50px 25px;
      }
    }
  }

  .contact {
    .contact__offices {
      flex-direction: column;

      .contact_offices--office {
        margin-bottom: 20px;

        h4 {
          margin: 0;
        }
      }
    }
  }

  .cooperation {
    .cooperation__partner,
    .cooperation__partner:nth-child(odd) {
      flex-direction: column;

      .cooperation__partner--logo {
        img {
          width: 80%;
        }
      }
    }
  }

  .projects {
    .projects--wrapper {
      padding: 0 15px;
    }

    .projects-slider .slick-dots {
      right: 10px;
    }

    .projects-slider .slick-arrow {
      display: none!important;
    }
  }
}
